<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link href="http://fonts.cdnfonts.com/css/skia" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />

    <title>Weather App</title>
  </head>
  <body>
    <nav>
      <p>WEATHER</p>
    </nav>
    <div class="container">
      <form class="search" action="/" method="post">
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Search City"
          required
        />
        <button type="submit" class="btn-search">
          <i class="fas fa-arrow-right"></i>
        </button>
      </form>
    </div>
  </body>
</html>
